<p id="notice"><%= notice %></p>

<div class= 'container'>
<div class="text-center ">
<h1>Cocktails</h1>

<div>
  <% @cocktails.each do |cocktail| %>
  <p><%= link_to cocktail.name, cocktail %></p>
  <% end %>
</div>
<br>

<%= link_to 'New Cocktail', new_cocktail_path %>

</div>

</div>
